

{% extends 'base/base.html' %}

{% block conteudo %}

{% for tarefa in tarefas %}

<div class="card mb-3">
    <div class="card-header">
        {{ tarefa.get_prioridade_display }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ tarefa.titulo }}</h5>
        <p class="card-text">{{ tarefa.descricao }}</p>
        <p class="card-text">{{ tarefa.data_expiracao }}</p>
    </div
</div>
{% endfor %}

<a href="{% url 'cadastrar_taferas' %}"> <input type="button" class="btn btn-primary mb-3" value="Cadastrar Tarefas"> </a>

{% endblock conteudo %}

